extends layout
block css-external
  link(rel="stylesheet", href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css")
  link(rel='stylesheet', href='/front/stylesheets/contact.css')

block content
  .main-banner.three
    .container
      h2
        span 关于我们
  //- .breadcrumb
  //-   .container
  //-     ul.list-unstyled.list-inline
  //-       li
  //-         a(href='/') 首页
  //-       li.active 关于我们
  .main-container
    .contact-content
      .row
        .col-sm-6.col-xs-12
          .cblock-1
            span.icon-wrap
              i.fa.fa-car
            h4 公司总部
            ul.list-unstyled
              li 北京市海淀区中关村南大街2号科技会展中心1号楼B座20C1室
              li
                i.fa.fa-phone
                |  010-62168816
              li
                i.fa.fa-fax
                |  010-51626391
        .col-sm-6.col-xs-12
          .cblock-1
            span.icon-wrap
              i.fa.fa-balance-scale
            h4 研发中心
            ul.list-unstyled
              li 北京亦庄经济技术开发区科创十四街99号汇龙森科技园2幢301室
              li
                i.fa.fa-phone
                |  010-59755826
              li
                i.fa.fa-fax
                |  010-59755826转801
      .row
        .col-sm-6.col-xs-12
          .cblock-1
            span.icon-wrap
              i.fa.fa-bell
            h4 平台及转让服务
            ul.list-unstyled
              li
                i.fa.fa-user
                |  孟总
              li
                i.fa.fa-phone
                |  010-59755826转805
        .col-sm-6.col-xs-12
          .cblock-1
            span.icon-wrap
              i.fa.fa-bank
            h4 产品招商
            ul.list-unstyled
              li
                i.fa.fa-user
                |  解总
              li
                i.fa.fa-phone
                |  010-59755826转805
      .row
        .col-sm-12.col-xs-12
          h3.main-heading2(style="margin-top: 20px;")
            |  公司地址  
          #address.portfolio
            .container
              .col-md-10.col-md-offset-1
                .portfolio-item
                  #address-places.small-map
      .row
        .col-sm-12.col-xs-12
          h3.main-heading2(style="margin-top: 20px;")
            | 加入我们
            small
              |  联系人: 何先生
              a(href='mailto:695152004@qq.com') (邮箱)
          #accordion-faqs.panel-group
            - for (var i = 0; i < employments.length; i++)
              - var employment = employments[i]
              .panel
                .panel-heading
                  h5.panel-title
                    a(data-toggle='collapse', data-parent='#accordion-faqs', href='#collapse#{i}')
                      | #{employment.title}
                - var id = "collapse" + i
                div.panel-collapse.collapse(id='#{id}')
                  .panel-body
                    - if (employment.duty != '')
                      h6 岗位职责:
                      ul.list-unstyled
                        - for (var j = 0; j < employment.duty.length; j++)
                          - var content = employment.duty[j]
                          li #{content}

                    - if (employment.requirement != '')
                      h6 任职要求:
                      ul.list-unstyled
                        - for (var j = 0; j < employment.requirement.length; j++)
                          - var content = employment.requirement[j]
                          li #{content}

block js-external
  script(src='http://api.map.baidu.com/api?v=2.0&ak=Bdf0LKK08QFak6AD7ibhSSDt', type='text/javascript')
  script(type="text/javascript", src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js")
  script(type="text/javascript", src="http://api.map.baidu.com/library/CityList/1.2/src/CityList_min.js")
  script(src='/front/javascripts/contact.js')
