extends layout

block css-external
  link(rel='stylesheet', href='/plugins/animate/animate.css')
  link(rel='stylesheet', href='/front/stylesheets/index.css')
  link(rel='stylesheet', href='/front/stylesheets/slider.css')

block content
  // Slider Section Starts
  section.slider.clearfix
    #camera_wrap_1.camera_wrap.camera_white_skin
      // Slide 1 Starts
      div(data-src='/front/images/slider/slider-img1.jpg')
        div.camera_caption.animated.fadeIn.hidden-sm.hidden-xs
          div.circle
            div.circle-content.center
              h2 理念
              hr
              p.animated.fadeInLeft
                | 大道无形 智者天成
      // Slider 1 Ends
      // Slider 2 Starts
      div(data-src='/front/images/slider/slider-img2.jpg')
        div.camera_caption.animated.fadeIn.hidden-sm.hidden-xs
          div.circle
            div.circle-content.center
              h2 服务
              hr
              p.animated.fadeInLeft
                | 专注新药研发 专注技术服务
      // Slider 2 Ends
      // Slider 3 Starts
      div(data-src='/front/images/slider/slider-img3.jpg')
        div.camera_caption.animated.fadeIn.hidden-sm.hidden-xs
          div.circle
            div.circle-content.center
              h2 标准
              hr
              p.animated.fadeInLeft
                | 国际化、标准化、规范化的研发服务提供者
      // Slider 3 Ends
  // Slider Section Ends
  // Main Container Starts
  main.main-container
    section.product.row
      // Products Sections Starts
      .col-md-8.col-xs-12
        .main-block1
          h2.main-heading2.lite 资讯中心
          // News Carousel Starts
          #news-carousel.news-carousel.carousel.slide(data-ride='carousel')
            // Wrapper for Slides Starts
            .carousel-inner
              - for (var i = 0; i < news_list.length; i++)
                - var news_sub_list = news_list[i]
                // Slide Starts
                .item
                  .row
                    - for (var j = 0; j < news_sub_list.length; j ++)
                      - var news = news_sub_list[j]
                      .col-sm-6.col-xs-12
                        .news-post-box
                          div.news-image
                            div.image-wrapper
                              img.img-responsive.img-center-sm.img-center-xs(src='#{news.thumbnail}')
                          .inner.clearfix
                            div.news-title.clearfix
                              div.vc-title-wrapper
                                h5.vc-title
                                  a(href='/news/detail/#{news.id}') #{news.title}
                            ul.list-unstyled.list-inline.post-meta
                              li
                                i.fa.fa-calendar
                                |  发布于#{news.dateString}
                              li
                                i.fa.fa-eye
                                |  #{news.pv}
                              li
                                i.fa.fa-bars
                                |  #{news.kindString}
                            p.limit-line.three  #{news.abstract}
                            a.btn.btn-secondary(href='/news/detail/#{news.id}')
                              i.fa.fa-arrow-circle-right
                              |  继续阅读
              // Slide Ends
            // Wrapper for Slides Ends
            // Controls Starts
            a.left.carousel-control(href='#news-carousel', role='button', data-slide='prev')
              span.fa.fa-angle-left(aria-hidden='true')
              span.sr-only 上一个
            a.right.carousel-control(href='#news-carousel', role='button', data-slide='next')
              span.fa.fa-angle-right(aria-hidden='true')
              span.sr-only 下一个
            // Controls Ends
      // Products Carousel Ends
      aside.col-md-4.col-xs-12
        .main-block1
          h2.main-heading2.lite 产品
          ul.list
            - for (var i = 0; i < products_list.length; i++)
              - var product = products_list[i]
              li
                h5
                  i.fa.fa-flask
                  a(href='/products/detail/transfer/#{product.id}')
                    | #{product.name}
  // Main Container Ends

  // Company Introduction Section Starts
  section.company-intro.clearfix
    .col-md-6.col-xs-12
      h2.main-heading1.lite 大道无形, 智者天成
      p
        | 大道隆达（北京）医药科技发展有限公司注册于北京中关村，专业从事药品、保健品、辅料等医药相关领域研发、生产、销售的创新性企业。公司在北京博尔达生物技术发展有限公司的基础上发展走过了十五年发展历程，在经历了国家历次医药政策的调整和变化已走出自己独特的发展道路，围绕公司的发展业务，逐步形成了以大道隆达为核心，形成医药多渠道、多经营、多方向的集团性发展模式。
      a.btn.btn-sm.btn-transparent(href='/intro') 走进大道
    .col-md-6.col-xs-12.intro-video
      iframe#intro-video(src="//fast.wistia.net/embed/iframe/uv8i5ep43q", allowtransparency="true", frameborder="0", scrolling="no", class="wistia_embed", name="wistia_embed", allowfullscreen, mozallowfullscreen, webkitallowfullscreen, oallowfullscreen, msallowfullscreen, width="520", height="293", style='margin-top:10px;')
  // Company Introduction Section Ends

block js-external
  script(src='/front/javascripts/index.js')
  script(src="//fast.wistia.net/assets/external/E-v1.js", async)
