extends layout

block content
  .main-banner.prod
    .container
      h2
        span 招商产品
  .main-container
    ul#products-filter.list-unstyled.list-inline
      li
        a.active(href='#', data-group='all') 所有招商产品
      li
        a(href='#', data-group='orphan') 孤儿药
      li
        a(href='#', data-group='creative') 创新药剂(经皮给药系列)
      li
        a(href='#', data-group='children') 儿童药
      li
        a(href='#', data-group='generics') 其他仿制药
      li
        a(href='#', data-group='psychiatric') 精神类药
    ul#products-grid.row.grid
      - for (var i = 0; i < products.length; i++)
        - var product = products[i]
        li.col-md-4.col-sm-6.col-xs-12.products-grid(data-groups='#{product.sub_kind_string}')
          .product-box
            .inner
              .title
                .vc-title-wrapper
                  .vc-title
                    .limit-line.two
                      h4 #{product.name}
              .vc-title
                .limit-line.six
                  .vc-title
                    .limit-line.two
                      p.designation #{product.name_co}
                    p.divider
                      i.fa.fa-plus-square
                    p.limit-line.four
                      | #{product.abstract}
            a.btn.btn-secondary(href='/products/detail/merchant/#{product.id}')
              | 查看详情 
              i.fa.fa-arrow-circle-right
