extends layout

block content
  .main-banner.seven
    .container
      h2
        span 资讯中心
  .breadcrumb
    .container
      ul.list-unstyled.list-inline
        li
          a(href='/') 首页
        li.active 资讯中心
  .main-container
    .row
      .col-md-9.col-xs-12
        .news-post-list
          - for (var i = 0; i < news_list.length; i++)
            - var news = news_list[i]
            article.news-post
              img.img-responsive.img-center-sm.img-center-xs(src='#{news.thumbnail}', alt='#{news.title}')
              .inner
                h4
                  a(href='/news/detail/#{news.id}') #{news.title}
                ul.list-unstyled.list-inline.post-meta
                  li
                    i.fa.fa-calendar
                    | 发布于#{news.dateString}
                  li
                    i.fa.fa-user
                    |  #{news.source}
                  li
                    i.fa.fa-eye
                    |  #{news.pv}
                  li
                    i.fa.fa-tag
                    - for (var i = 0; i < news.tags.length; i++)
                      - var tag = news.tags[i]
                      a(href='#') #{tag}
                      | ,
                p  #{news.abstract}
                a.btn.btn-secondary(href='/news/detail/#{news.id}')
                  | 继续阅读
                  i.fa.fa-arrow-circle-right
        .clearfix.pagination-wrap
          ul.pagination.pull-right
            li
              a(href='#', aria-label='上一页')
                span(aria-hidden='true') &laquo;
            li.active
              span #{page}
            li
              a(href='#', aria-label='下一页')
                span(aria-hidden='true') &raquo;
      .col-md-3.col-xs-12
        h4.side-heading1.top 分类
        ul.list-unstyled.list-style-1
          li
            a(href='#') 公司动态
          li
            a(href='#') 行业资讯
        h4.side-heading1 标签
        ul.list-unstyled.list-inline.list-tags
          li
            a(href='#') 公司动态
          li
            a(href='#') 行业动态
          li
            a(href='#') 新药研发