extends layout
block css-external

block content
  .main-banner.prod
    .container
      h2
        span 资讯中心
  .main-container
    .row
      .col-md-9.col-xs-12
        .news-post-list
          - for (var i = 0; i < news_list.length; i++)
            - var news = news_list[i]
            article.news-post
              .inner.row
                - if (news.thumbnail != "")
                  .col-sm-4.col-xs-12
                    .image-container
                      .image-wrapper
                        img.img-responsive.img-center-sm.img-center-xs(src='#{news.thumbnail}', alt='#{news.title}')
                .col-sm-8.col-xs-12
                  h4
                    a(href='/news/detail/#{news.id}') #{news.title}

                  p.limit-line.three  #{news.abstract}
                  a.btn.btn-secondary(href='/news/detail/#{news.id}')
                    | 继续阅读
                    i.fa.fa-arrow-circle-right
              .row
                ul.list-unstyled.list-inline.post-meta.col-xs-12
                  li
                    i.fa.fa-calendar
                    | 发布于#{news.dateString}
                  li
                    i.fa.fa-user
                    |  #{news.source}
                  li
                    i.fa.fa-eye
                    |  #{news.pv}
                  li
                    i.fa.fa-bars
                    |  #{news.kindString}
                  li
                    i.fa.fa-tag
                    - for (var j = 0; j < news.tags.length; j++)
                      - var tag = news.tags[j]
                      a(href='#') #{tag}
                      | ,
          -
        .clearfix.pagination-wrap
          ul.pagination.pull-right
            li
              if page == 1
                a(href='#', aria-label='第一页')
                  span(aria-hidden='true') 首页
              else
                a(href='/news?page=1', aria-label='第一页')
                  span(aria-hidden='true') 首页
            li
              if page == 1
                a(href='#', aria-label='上一页')
                  span(aria-hidden='true') 上页
              else
                a(href='/news?page=#{Number(page)-1}', aria-label='上一页')
                  span(aria-hidden='true') 上页
            li.active
              span #{page}
            li
              if page == total
                a(href='#', aria-label='下一页')
                  span(aria-hidden='true') 下页
              else
                a(href='/news?page=#{Number(page)+1}', aria-label='下一页')
                  span(aria-hidden='true') 下页
            li
              if page == total
                a(href='#', aria-label='尾页')
                  span(aria-hidden='true') 尾页
              else
                a(href='/news?page=#{total}', aria-label='尾页')
                  span(aria-hidden='true') 尾页
      .col-md-3.col-xs-12
        h4.side-heading1.top 分类
        ul.list-unstyled.list-style-1
          li
            a(href='/news?kind=company&page=1') 公司动态
          li
            a(href='/news?kind=industry&page=1') 行业资讯
        h4.side-heading1 标签
        ul#tags-list.list-unstyled.list-inline.list-tags
          li(style='display:none;')
            a(href='#')
block js-external
  script(src='/front/javascripts/news.js')
