extends layout
block css-external

block content
  .breadcrumb
    .container
      ul.list-unstyled.list-inline
        li
          a(href='/') 首页
        li
          a(href='/products/merchant') 招商产品
        li.active 产品详情

  .main-container
    .row
      .col-sm-5.col-xs-12
        .profile-block
          .panel.panel-profile
            .panel-heading
              img.img-responsive.img-center-xs(src='/front/images/drug.jpg')
              h3.panel-title #{merchant.name}
              p.caption #{merchant.name_co}
            .panel-body
              ul.list-unstyled
                li.row
                  span.col-sm-4.col-xs-12
                    strong 生产企业
                  span.col-sm-8.col-xs-12 #{merchant.production_company}
                li.row
                  span.col-sm-4.col-xs-12
                    strong 规格
                  span.col-sm-8.col-xs-12 #{merchant.specification}
                li.row
                  span.col-sm-4.col-xs-12
                    strong 包装
                  span.col-sm-8.col-xs-12 #{merchant.package}
                - if (merchant.other)
                  li.row
                    span.col-sm-4.col-xs-12
                      strong 其他
                    span.col-sm-8.col-xs-12 #{merchant.other}
            .panel-footer
              ul.list-unstyled
                li.row
                  span.col-sm-4.col-xs-12
                    strong 批发价格
                  span.col-sm-8.col-xs-12 #{merchant.wholesale_price}
                li.row
                  span.col-sm-4.col-xs-12
                    strong 招商价格
                  span.col-sm-8.col-xs-12 #{merchant.investment_price}
      .col-sm-7.col-xs-12
        .profile-details
          h3.main-heading2 #{merchant.name}
          h4 说明书
          p
            | !{merchant.manual}
    .spacer-block
    //- h2.main-heading2.nomargin-top 相关产品推荐
    //- ul#products-grid.row.grid
    //-   - for (var i = 0; i < products.length; i++)
    //-     - var product = products[i]
    //-     li.col-md-4.col-sm-6.col-xs-12.products-grid(data-groups='#{product.sub_kind_string}')
    //-       .product-box
    //-         .inner
    //-           h4 #{product.name}
    //-           p.designation #{product.name_co}
    //-           p.divider
    //-             i.fa.fa-plus-square
    //-           p
    //-             | #{product.detail}
    //-         a.btn.btn-secondary(href='#')
    //-           | 查看详情 
    //-           i.fa.fa-arrow-circle-right
      
